<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Init Vue App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="appdiv">
        <form action="" @submit="">
            <label for="">Count</label>
            <input type="number" v-model="count" value="0" min="0" max="10" step="1">
            <br>
            <label for="">Price</label>
            <input type="number" v-model="price" value="0" min="0" max="10000" step="100">
            <br>
            <span>Full price: {{ resPrice }}</span>
        </form>
    </div>

    <script src="main.js"></script>
</body>
</html>